
{{ range $host, $containers := groupBy $ "Env.VIRTUAL_TCP_HOST" }}

upstream {{ $host }} {
        {{ range $index, $value := $containers }}
    		{{ $network := index $value.Networks 0 }}
			{{ if $value.Env.VIRTUAL_TCP_PORT }}

				{{ range $i, $address := $value.Addresses }}
					{{ if eq $address.Port $value.Env.VIRTUAL_TCP_PORT }}
        			    server {{ $network.IP }}:{{ $address.Port }};
		            {{ end }}
		        {{ end }}


            {{ end }}
         {{ end }}



}

server {
    listen 81;
    proxy_redirect off; 
    location /{{ $host }} {
	    proxy_http_version 1.1;
	    proxy_pass http://{{ $host }}/;
	    proxy_set_header Upgrade $http_upgrade;
	    proxy_set_header Connection "upgrade";
	
	    # VNC connection timeout
	    proxy_read_timeout 61s;
	
	    # Disable cache
	    proxy_buffering off;
    }
}

{{ end }}        

